:root {
    /** Colors **/
    /* Primary */
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /* Neutral */
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

@media (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: calc(100% - 2rem);
    max-width: 540px;
    margin: 4.25rem auto;
}

@media (min-width: 768px) {
    .container {
        margin: 0;
    }
    
}

.balance {
    background-color: var(--softRed);
    border-radius: 8px;
    padding: 1.5rem 1.5rem 1.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .balance {
        padding: 1.875rem;
    }
}

.balance__title {
    font-size: 14.5px;
    display: block;
    color: var(--veryPaleOrange);
    opacity: .9;
}

@media (min-width: 768px) {
    .balance__title {
        font-size: 16px;
    }
}

.balance__total {
    font-size: 1.5rem;
    display: block;
    font-weight: 700;
    margin-top: .25rem;
    color: var(--veryPaleOrange);
}

@media (min-width: 768px) {
    .balance__total {
        font-size: 1.75rem;
    }
}

.spending {
    margin-top: 1rem;
    background-color: var(--veryPaleOrange);
    padding: 1.5rem 1.25rem;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .spending {
        margin-top: 1.5rem;
        padding: 2.5rem;
    }
}

.spending__title {
    color: var(--darkBrown);
    font-size: 1.375rem;
}

@media (min-width: 768px) {
    .spending__title {
        font-size: 1.875rem;
    }
}

.spending__chart {
    margin-top: 3rem;
    height: 150px;
    display: flex;
    align-items: flex-end;
    gap: 0.75rem;
}

@media (min-width: 768px) {
    .spending__chart {
        margin-top: 4rem;
        gap: 1.125rem;
    }
}

.spending__bar-container {
    width: 100%;
    height: 0;
    position: relative;
    transition: height .6s ease-in-out;
}

.spending__bar {
    width: 100%;
    height: 100%;
    background-color: var(--softRed);
    border-radius: 4px;
    cursor: pointer;
}

.spending__bar-container--highest .spending__bar {
    background-color: var(--cyan);
}

.spending__bar:hover {
    opacity: .8;
}

.spending__bar-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -32px;
    padding: .313rem;
    border-radius: 4px;
    font-weight: 700;
    background-color: var(--darkBrown);
    color: var(--veryPaleOrange);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5px;
    visibility: hidden;
    opacity: 0;
}

@media (min-width: 768px) {
    .spending__bar-label {
        padding: 0.5rem;
        top: -42px;
        font-size: 14px;
    }
}

.spending__bar-container:hover .spending__bar-label {
    visibility: visible;
    opacity: 1;
}

.spending__bar--current {
    background-color: var(--cyan);
}

.spending__labels {
    height: 16px;
    margin-top: .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

@media (min-width: 768px) {
    .spending__labels {
        height: 16px;
        gap: 1.125rem;
    }
}

.spending__label {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: var(--mediumBrown);
}

@media (min-width: 768px) {
    .spending__label {
        font-size: 14px;
    }
}

.spending__resume {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 2px solid var(--cream);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .spending__resume {
        margin-top: 2rem;
        padding-top: 2rem;
    }
}

.spending__month-title {
    font-size: 14.5px;
    display: block;
    color: var(--mediumBrown);
    opacity: .9;
}

@media (min-width: 768px) {
    .spending__month-title {
        font-size: 16px;
    }
}

.spending__month-total {
    font-size: 1.75rem;
    display: block;
    font-weight: 700;
    margin-top: 0.5rem;
    color: var(--darkBrown);
}

@media (min-width: 768px) {
    .spending__month-total {
        font-size: 2.375rem;
    }
}

.spending__last-month {
    text-align: right;
}

.spending__last-month-title {
    font-size: 14.5px;
    display: block;
    color: var(--mediumBrown);
    opacity: .9;
    margin-top: .25rem;
}

@media (min-width: 768px) {
    .spending__last-month-title {
        font-size: 16px;
    }
}

.spending__last-month-percentage {
    display: block;
    font-weight: 700;
    color: var(--darkBrown);
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .spending__last-month-percentage {
        font-size: 1.25rem;
    }
}